workflows/AI-聊天機器人/telegram-H0rsNOyQ4Gv9em1i.json
{
  "updatedAt": "2025-12-06T08:21:04.659Z",
  "createdAt": "2025-07-15T05:02:38.445Z",
  "id": "H0rsNOyQ4Gv9em1i",
  "name": "telegram",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        272,
        -144
      ],
      "id": "71e638ac-4d92-43a6-bb64-209808a27433",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        -256
      ],
      "id": "415c81a7-38d4-4426-92bc-ed523b715afc",
      "name": "Send a text message to 個人",
      "webhookId": "[REMOVED]",
      "credentials": "[REMOVED]"
    },
    {
      "parameters": {
        "chatId": "[REMOVED]",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        816,
        -32
      ],
      "id": "c193b998-98c3-49cb-bc6b-d180e0182f33",
      "name": "Send a text message to 群組",
      "webhookId": "[REMOVED]",
      "credentials": "[REMOVED]"
    },
    {
      "parameters": {
        "content": "\n\n此為：Telegram AI機器人 教學\n\n1. 取得 Chat GPT 後台裡的 API  [GPT後台](https://platform.openai.com/chat/edit?models=gpt-4.1)\n1.1 右上角的 Dashboard\n1.2 左邊功能列表的 \"API Keys\"\n1.3 右邊的 \"Create new secret\"\n1.4 (輸入 api name) 直接\"Create secret ket\"\n(記住該 API )\n\n2. 取得 Telegram 機器人的API  [TG 搜尋@BotFather](https://web.telegram.org/a/)\n2.1 加入BotFather 後，輸入 \"/start \"\n2.2 再輸入 \"/newbot\"\n2.3 幫機器人取名 (直接在對話框輸入)\n2.4 幫機器人取使用者名稱 \n(不可重複 名稱內必須要有 \"bot\"  (EX: Happy216_bot))\n2.5 當取名完成，會回應 \"Done！....\" \n(其中 找到\"HTTP API:\" XXXXXXXXX:XXXXXXXXXXXXXXX)\n要把這一串記起來 (這就是你的機器人的API)\n\n3. n8n 串接 TG 認證\n3.1  \"Credential to connect with\" 選擇新增認證\n3.2 \nBase URL 輸入： https://api.telegram.org\nAccess Token 輸入： XXXXXXXXX:XXXXXXXXXXXXXXX \n(你的TG API)\n\n儲存！ 串接成功！\n\n(Trigger On  記得改成 message )",
        "height": 636,
        "width": 604,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -400,
        -464
      ],
      "typeVersion": 1,
      "id": "332be355-ebce-440c-962a-315b1463df24",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "這一塊\n就是要 先讓 Telegram Trigger 執行過一遍 \n(先點擊Telegram Trigger旁的閃電 or Execute workflow \n再去Telegram 隨意輸入訊息)\n取得 Telegram的ID (個人聊天室 or 群組聊天室)\n\n然後 把 ID 拉過去 \n就完成了！\n\n",
        "height": 640,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        624,
        -464
      ],
      "typeVersion": 1,
      "id": "2104fb2c-f92c-4387-96db-430fb407a8f5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 這是我的社群：\n## [ZN AI 樂園](https://line.me/ti/g2/m9R6Fd9CF2SiMIA2wheULFoBZUtsoFV7ckW8MA?utm_source=invitation&utm_medium=link_copy&utm_campaign=default/)\n歡迎點擊 ZN AI 樂園\n\n一起加入分享討論 n8n AI \n\nNick Chang｜nickleo051216@gmail.com｜\n\n0932-684-051\n\n個人網站：[ZN Studio](https://portaly.cc/zn.studio)\n\nThreads： ZN Studio\n[@nickai216](https://www.threads.com/@nickai216)\n\nLine ： [客服](https://lin.ee/Faz0doj)",
        "height": 640,
        "width": 288,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        -464
      ],
      "typeVersion": 1,
      "id": "508fb29a-1b2e-4e0c-9f7b-71f7c206e354",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        272,
        48
      ],
      "id": "ae52d0cd-73a6-444d-af2a-3a1aa24139ba",
      "name": "Google Gemini Chat Model",
      "credentials": "[REMOVED]"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        64,
        -144
      ],
      "id": "6e40c47a-8e31-44f6-b23e-a1fa1424a63a",
      "name": "Telegram Trigger",
      "webhookId": "[REMOVED]",
      "credentials": "[REMOVED]"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message to 群組",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message to 個人",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message to 個人": {
      "main": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f9bc38e9-4614-4b94-a4ff-06c76958a788",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-07-15T05:02:38.445Z",
      "createdAt": "2025-07-15T05:02:38.445Z",
      "role": "workflow:owner",
      "workflowId": "H0rsNOyQ4Gv9em1i",
      "projectId": "4W71QCd0cKKsiKSS"
    }
  ],
  "tags": []
}