workflows/社群媒體自動化/Mata 權杖更新-XSMDRRV595gOhgzB.json
{
  "updatedAt": "2025-12-06T08:42:01.909Z",
  "createdAt": "2025-08-21T16:53:48.853Z",
  "id": "XSMDRRV595gOhgzB",
  "name": "Mata 權杖更新",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -336,
        -160
      ],
      "id": "6aeef6e1-fd6f-4ddb-9e7d-d080dec174ae",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1N2VDbZHjGZbTiT_qyXIAJjLw0pn5B-fOyxVIsoZXl9E",
          "mode": "list",
          "cachedResultName": "Nick_n8n_demo ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N2VDbZHjGZbTiT_qyXIAJjLw0pn5B-fOyxVIsoZXl9E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1778932180,
          "mode": "list",
          "cachedResultName": "自動更新權杖",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N2VDbZHjGZbTiT_qyXIAJjLw0pn5B-fOyxVIsoZXl9E/edit#gid=1778932180"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "platform",
              "lookupValue": "threads"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        -336
      ],
      "id": "f447611b-808d-4856-9a76-f4152cf1b99b",
      "name": "拿 threads 權杖",
      "credentials": "[REMOVED]"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1N2VDbZHjGZbTiT_qyXIAJjLw0pn5B-fOyxVIsoZXl9E",
          "mode": "list",
          "cachedResultName": "Nick_n8n_demo ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N2VDbZHjGZbTiT_qyXIAJjLw0pn5B-fOyxVIsoZXl9E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1778932180,
          "mode": "list",
          "cachedResultName": "自動更新權杖",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N2VDbZHjGZbTiT_qyXIAJjLw0pn5B-fOyxVIsoZXl9E/edit#gid=1778932180"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "token": "={{ $json.access_token }}",
            "platform": "threads",
            "date": "={{ $today.format('yyyy-MM-dd') }}"
          },
          "matchingColumns": [
            "platform"
          ],
          "schema": [
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nextupdate",
              "displayName": "nextupdate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        320,
        -336
      ],
      "id": "9e7d097e-813d-4f27-be13-e12c914bfec4",
      "name": "Update row in sheet",
      "credentials": "[REMOVED]"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1N2VDbZHjGZbTiT_qyXIAJjLw0pn5B-fOyxVIsoZXl9E",
          "mode": "list",
          "cachedResultName": "Nick_n8n_demo ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N2VDbZHjGZbTiT_qyXIAJjLw0pn5B-fOyxVIsoZXl9E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1778932180,
          "mode": "list",
          "cachedResultName": "自動更新權杖",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N2VDbZHjGZbTiT_qyXIAJjLw0pn5B-fOyxVIsoZXl9E/edit#gid=1778932180"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "platform",
              "lookupValue": "instagram"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        -160
      ],
      "id": "46a1981b-14e1-46ce-bc45-630069e61f9a",
      "name": "拿 instatram權杖",
      "credentials": "[REMOVED]"
    },
    {
      "parameters": {
        "url": "=https://graph.threads.net/refresh_access_token?grant_type=th_refresh_token&access_token={{ $json.token }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        -336
      ],
      "id": "845f5b8c-bdd9-4962-8caa-1effde1d2a63",
      "name": "更新threasd token"
    },
    {
      "parameters": {
        "url": "https://graph.instagram.com/refresh_access_token",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "ig_refresh_token"
            },
            {
              "name": "access_token",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        -160
      ],
      "id": "a774e250-29b8-4e5e-9c83-90bc8b1b4ac1",
      "name": "更新IG token"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1N2VDbZHjGZbTiT_qyXIAJjLw0pn5B-fOyxVIsoZXl9E",
          "mode": "list",
          "cachedResultName": "Nick_n8n_demo ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N2VDbZHjGZbTiT_qyXIAJjLw0pn5B-fOyxVIsoZXl9E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1778932180,
          "mode": "list",
          "cachedResultName": "自動更新權杖",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N2VDbZHjGZbTiT_qyXIAJjLw0pn5B-fOyxVIsoZXl9E/edit#gid=1778932180"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "token": "={{ $json.access_token }}",
            "platform": "instagram",
            "date": "={{ $today.format('yyyy-MM-dd') }}"
          },
          "matchingColumns": [
            "platform"
          ],
          "schema": [
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nextupdate",
              "displayName": "nextupdate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        496,
        -160
      ],
      "id": "904f01b4-5321-4b79-98e6-d8b67d6c000e",
      "name": "更新資料",
      "credentials": "[REMOVED]"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1N2VDbZHjGZbTiT_qyXIAJjLw0pn5B-fOyxVIsoZXl9E",
          "mode": "list",
          "cachedResultName": "Nick_n8n_demo ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N2VDbZHjGZbTiT_qyXIAJjLw0pn5B-fOyxVIsoZXl9E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1778932180,
          "mode": "list",
          "cachedResultName": "自動更新權杖",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N2VDbZHjGZbTiT_qyXIAJjLw0pn5B-fOyxVIsoZXl9E/edit#gid=1778932180"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "platform",
              "lookupValue": "facebook"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -64,
        32
      ],
      "id": "d8b1116f-ba09-4de2-865d-93afeb7bc702",
      "name": "拿facebook權杖",
      "credentials": "[REMOVED]"
    },
    {
      "parameters": {
        "url": "=https://graph.facebook.com/v19.0/oauth/access_token",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "grant_type",
              "value": "fb_exchange_token"
            },
            {
              "name": "client_id",
              "value": "2246377849118577"
            },
            {
              "name": "client_secret",
              "value": "e9f34475893ba941880b039847f662756"
            },
            {
              "name": "fb_exchange_token",
              "value": "={{ $json.token }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        16
      ],
      "id": "5ae7b9d6-64f3-4d94-ac1d-c3e29b3128c5",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "034c65e0-b3a7-4e7a-bf11-497b6be750c0",
              "leftValue": "={{ $json.platform }}",
              "rightValue": "facebook",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        160,
        32
      ],
      "id": "706f7aba-6cd8-4791-95da-e1d7fd2fb3b3",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1N2VDbZHjGZbTiT_qyXIAJjLw0pn5B-fOyxVIsoZXl9E",
          "mode": "list",
          "cachedResultName": "Nick_n8n_demo ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N2VDbZHjGZbTiT_qyXIAJjLw0pn5B-fOyxVIsoZXl9E/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1778932180,
          "mode": "list",
          "cachedResultName": "自動更新權杖",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1N2VDbZHjGZbTiT_qyXIAJjLw0pn5B-fOyxVIsoZXl9E/edit#gid=1778932180"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "token": "={{ $json.access_token }}",
            "platform": "facebook",
            "date": "={{ $today.format('yyyy-MM-dd') }}"
          },
          "matchingColumns": [
            "platform"
          ],
          "schema": [
            {
              "id": "platform",
              "displayName": "platform",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "token",
              "displayName": "token",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "nextupdate",
              "displayName": "nextupdate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        16
      ],
      "id": "c4571ec1-535e-47dd-af17-486fcf439f68",
      "name": "更新資料1",
      "credentials": "[REMOVED]"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "拿 threads 權杖",
            "type": "main",
            "index": 0
          },
          {
            "node": "拿 instatram權杖",
            "type": "main",
            "index": 0
          },
          {
            "node": "拿facebook權杖",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "拿 threads 權杖": {
      "main": [
        [
          {
            "node": "更新threasd token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "拿 instatram權杖": {
      "main": [
        [
          {
            "node": "更新IG token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新threasd token": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "更新IG token": {
      "main": [
        [
          {
            "node": "更新資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "拿facebook權杖": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "更新資料1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        355
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c9fde82f-f82e-468b-bb00-de5ea9669f41",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-08-21T16:53:48.853Z",
      "createdAt": "2025-08-21T16:53:48.853Z",
      "role": "workflow:owner",
      "workflowId": "XSMDRRV595gOhgzB",
      "projectId": "4W71QCd0cKKsiKSS"
    }
  ],
  "tags": [
    {
      "updatedAt": "2025-08-24T17:31:32.101Z",
      "createdAt": "2025-08-24T17:31:32.101Z",
      "id": "NdMmboef1PsJUri9",
      "name": "Meta"
    },
    {
      "updatedAt": "2025-08-24T17:31:41.153Z",
      "createdAt": "2025-08-24T17:31:41.153Z",
      "id": "KPByq23ZyOVqDq7y",
      "name": "權杖"
    }
  ]
}